*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Nerko One', cursive;
  background-color: #ADD8E6
}
.central{
  text-align: center;
}
.inizio{
  color: white;
  font-size: 50px;
}
.fine{
  color: black;
}
