/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /RESET */
body{
  font-family: 'Nerko One', cursive;
  background-color: #add8e6;
}
/* INTESTAZIONE */
header{
  padding: 10px 0;
}
h1{
  color: white;
  font-size: 90px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  letter-spacing: 3px;
}
/* /INTESTAZIONE */
/* GAME BOX */
.cards{
  max-width: 1024px;
  margin: auto;
}
.row{
text-align: center;
margin-bottom: 25px;
}
.card{
  display: inline-block;
  padding: 20px;
  width: 22%;
  margin: 0 1%;
  background-color: white;
  background-image: url("../img/pattern.png");
  background-size: contain;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.card img{
  width: 100%;
  visibility: hidden;
}
.card h2{
  font-size: 32px;
  color: orange;
  visibility: hidden;
}
h2{
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
/* /GAME BOX */
/*/ ANIMAZIONI */
.card:hover, .card.active{
  background-image: none;
}
.card:hover img,
.card:hover h2,
.card.active img,
.card.active h2{
  visibility: visible;
}
/* ANIMAZIONI */
/* FOOTER */
footer{
  text-align: center;
  margin: 30px 0;
  font-size: 22px;
}
/* /FOOTER */
